@font-face {
    font-family: "Rubik";
    src: url('./assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype')
}

:root {
    ---system-font: 'Rubik'
    ---system-font-size: 18px;
    ---system-mobile-breakpoint: 375px;
    ---system-desktop-breakpoint: 1440px;
    ---system-font-light-weight: 400;
    ---system-font-medium-weight: 500;
    ---system-font-heavy-weight: 700;
    ---system-color-very-dark-gray: hsl(0, 0%, 17%);
    ---system-color-dark-gray: hsl(0, 0%, 59%);
}




body {
    font-family: var(---system-font);
    font-size: var(---system-font-size);
}