@import url('./normalize.css');
@import url('./reset.css');


@font-face {
    font-family: "Rubik Regular";
    src: url('../fonts/Rubik-Regular.ttf') format('truetype')
}

@font-face {
    font-family: "Rubik Medium";
    src: url('../fonts/Rubik-Medium.ttf') format('truetype')
}

@font-face {
    font-family: "Rubik Heavy";
    src: url('../fonts/Rubik-Bold.ttf') format('truetype')
}

:root {
    --system-font-regular: 'Rubik Regular';
    --system-font-medium: 'Rubik Medium';
    --system-font-heavy: 'Rubik Heavy';
    --system-font-size: 18px;
    --system-color-very-dark-gray: hsl(0, 0%, 17%);
    --system-color-dark-gray: hsl(0, 0%, 59%);
}


body {
    font-family: var(--system-font-regular);
    font-size: var(--system-font-size);

}

#map {
    position: absolute;
    top: 30%;
    bottom: 0;
    width: 100%;
}

#map.blur {
    filter: blur(3px);
}


#hero {
    background-image: url('../images/pattern-bg.png');
    background-size: cover;
    width: 100%;
    height: 30vh;
}

#title {
    text-align: center;
    color: #fff;
    padding-top: 30px;
    font-size: 30px;
}

#search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#search-component {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
}

#search-component .search-input {
    width: 70%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 1cap;
    border: none;
    padding: 0 0 0 20px;
    font-size: 14px;
}

#search-component .search-input.error-state {
    border: 5px dashed red;
}

#search-component button {
    background-color: #000;
    width: 13%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search-component button:hover {
    background-color: var(--system-color-very-dark-gray);
}

#search-component button.disabled {
    background-color: var(--system-color-dark-gray);
    opacity: 0.9;
    pointer-events: none;
}

#results-container {
    display: none;
    background-color: #fff;
    border-radius: 15px;
    width: 87%;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
}

#results-container.show {
    display: flex;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0;
}


.results section .label {
    color: var(--system-color-dark-gray);
    font-family: var(--system-font-medium);
    font-size: 14px;
    display: block;
}

.results section .data {
    display: block;
    margin-top: 12px;
    font-family: var(--system-font-medium);
    font-size: 24px;
    text-align: center;
}

.empty-state-message {
    font-size: 22px;
    padding: 20px 0;
}


@media (min-width: 768px) {
    #search-component {
        width: 50%;
        max-width: 700px;
    }

    #search-component button {
        width: 10%;
    }

    #results-container {
        width: inherit;
        height: 175px;
        top: 22%;
    }

    .results {
        max-width: 1200px;
        justify-content: space-around;
        flex-direction: row;
    }

    .results section {
        padding: 0 25px;
    }

    .results section .label,
    .results section .data {
        text-align: left;
    }

    .results section.divider {
        height: 100%;
        border-right: solid lightgrey 1px;
    }

    .empty-state-message-container {
        width: 500px;
        height: 100%;
        text-align: center;
    }

    .empty-state-message {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    #search-component .search-input {
        font-size: 18px;
    }
}



@media (min-width: 1550px) {
    #results-container {
        height: 142px;
    }
}